<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="icon" href="/img/favicon.png" type="image/png">
    <script src="/js/p5.min.js"></script>

</head>

<body style="display: flex; flex-direction: column;">
    <div>
        <script src="/js/bezierforms.js"></script>
    </div>
</body>

</html>