<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    </title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="icon" href="/img/favicon.png" type="image/png">
</head>

<style>
    body > * {
        margin-bottom: 20px
    }
</style>

<body style="display: flex; flex-direction: column;">

    <img src="/img/misc/bean.svg" alt="bean" class="standart-width">
    <img src="/img/misc/circletosquare.svg" alt="circletosquare" class="standart-width">
    <img src="/img/misc/hyperball.svg" alt="hyperball" class="standart-width">
    <img src="/img/misc/schleife.svg" alt="schleife" class="standart-width">
    <img src="/img/misc/squarebowl.svg" alt="squarebowl" class="standart-width">

</body>

</html>