<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="icon" href="/img/favicon.png" type="image/png">
    <script src="/js/typewriter-effect2.21.0.js"></script>
</head>


<body>
    <div id="terminal-container">
        <!-- <span id="term-user">
            root@niezuhaus.de $
        </span> -->
        <div id="text"></div>
        <a onclick="talk('msg1')" id="link1"></a>
        <a onclick="talk('msg1')" id="link2"></a>
        <a onclick="talk('msg1')" id="link3"></a>
        <script>


            var textref = document.getElementById('text');
            var link1ref = document.getElementById('link1');
            var link2ref = document.getElementById('link2');
            var link3ref = document.getElementById('link3');

            var typewriter = new Typewriter(textref, {
                loop: false,
                deleteSpeed: 1,
                delay: 25,
            });

            var link1 = new Typewriter(link1ref, {
                loop: false,
                deleteSpeed: 1,
                delay: 25,
                cursor: ''
            });

            var link2 = new Typewriter(link2ref, {
                loop: false,
                deleteSpeed: 1,
                delay: 25,
                cursor: ''
            });

            var link3 = new Typewriter(link3ref, {
                loop: false,
                deleteSpeed: 1,
                delay: 25,
                cursor: ''
            });

            var talk = function (msg) {
                if (msg) {
                    // typewriter
                    //     .changeDeleteSpeed(5)
                    //     .deleteAll();
                    // typewriter
                    //     .typeString(msg)
                    //     .start();

                    // Send POST request
                    fetch('localhost:3000/talk/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ msg: msg })
                    })
                    .then(response => response.json())
                    .then(data => {
                        // Handle response data
                        console.log(data);
                    })
                    .catch(error => {
                        // Handle error
                        console.error(error);
                    });
                }
            }

            typewriter
                .pauseFor(1000)
                .typeString('welcome, what part of daniel niehaus\' portfolio are you interested in?')
                .start();

            link1
                .pauseFor(3800)
                .typeString('\\music')
                .start();

            link2
                .pauseFor(4100)
                .typeString('\\photography')
                .start();

            link3
                .pauseFor(4400)
                .typeString('\\media projects')
                .start();
        </script>
    </div>
</body>

</html>