<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/styles/style.css">
    <!-- <link rel="stylesheet" href="/styles/bootstrap.min.css"> -->
    <link rel="icon" href="/img/favicon.png" type="image/png">
    <script src="/js/typewriter-effect2.21.0.js"></script>
    <!-- <script src="/js/typewriter-effect2.21.0.js"></script> -->
</head>


<body>
    <div class="w-100" style="padding: 50px;">
        <div id="terminal-container">
            <p id="text"></p>
            <div class="flex row">
                <div class="flex column" style="min-width: 30%;">
                    <a id="link1"></a>
                    <a id="link2"></a>
                    <a id="link3"></a>
                    <a id="link4"></a>
                    <a id="link5"></a>
                    <a id="link6"></a>
                </div>
                <div class="flex column">
                    <a id="link7"></a>
                    <a id="link8"></a>
                    <a id="link9"></a>
                    <a id="link10"></a>
                    <a id="link11"></a>
                    <a id="link12"></a>
                </div>
            </div>
        </div>

        <iframe id="frame" src="" frameborder="0" scrolling="no"></iframe>

    </div>
</body>

</html>

<script>
    const delay = 1;
    const pauseBetweenLinks = 50;
    // link html refs
    var textref = document.getElementById('text');
    linkRefs = [
    ];
    var condition = true;
    while (condition) {
        var link = document.getElementById('link' + (linkRefs.length + 1));
        if (link) {
            linkRefs.push(link);
        } else {
            condition = false;
        }
    }
    var frame = document.getElementById('frame');

    // var resizeIframe = function () {
    //     console.log(frame.contentWindow.document.body.scrollHeight);
    //     frame.style.height = frame.contentWindow.document.body.scrollHeight + 'px';
    // }

    // document.addEventListener('DOMContentLoaded', resizeIframe);

    // creating the typewriters
    var typewriter = new Typewriter(textref, {
        loop: false,
        delay: delay,
        deleteSpeed: delay,
    });
    var linkwriter = [];
    for (let i = 0; i < linkRefs.length; i++) {
        linkwriter[i] = new Typewriter(linkRefs[i], {
            loop: false,
            delay: delay,
            deleteSpeed: delay,
            cursor: ''
        });
    }

    var response;
    var lastResponse;

    var fillLinks = function () {
        linkwriter.forEach((writer, i) => {
            var link = linkRefs[i];
            link.removeAttribute("href");
            if (response.links[i]) {
                link.style.display = 'unset';
            }
            link.onclick = () => { }
            writer
                .deleteChars(lastResponse?.links[i]?.name?.length || 1)
                .pauseFor(pauseBetweenLinks)
                .typeString(response?.links[i]?.name || '')
                .callFunction(() => {
                    if (!response.links[i]) {
                        link.style.display = 'none';
                    }
                })
                .start()
        });
        response.links.forEach((link, i) => {
            let linkRef = linkRefs[i];
            if (link.url) {
                linkRef.href = link.url;
                linkRef.target = '_blank'
            } else {
                linkRef.onclick = () => {
                    // next talking step
                    talk(link.to || link.name);
                }
            }
        });
    };

    var linkIterator

    var talk = function (msg) {
        var replaceString = msg === '/start' ? '/' : '/p' + msg;
        history.replaceState(null, '', replaceString)
        if (msg) {
            // Send POST request
            fetch('/talk/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ msg: msg })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.answer) {
                        lastResponse = response;
                        response = data;
                        // delete everything
                        textref.innerHTML = ''
                        // update frame
                        frame.src = response?.src ? response.src : ''
                        typewriter = new Typewriter(textref, {
                            loop: false,
                            delay: delay,
                            deleteSpeed: delay,
                        });

                        typewriter
                            .pauseFor(500)
                            .typeString(data.answer)
                            .pauseFor(data.notFound ? 2000 : 0)
                            .callFunction(() => {
                                if (data.notFound) {
                                    talk('/start')
                                }
                                // fillLinks()

                            })
                            .start();

                        fillLinks()
                    }
                })
                .catch(error => {
                    // Handle error
                    console.error(error);
                });
        }
    }
    talk("/<%= msg %>");
</script>