<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="icon" href="/img/favicon.png" type="image/png">
    <script src="/js/typewriter-effect2.21.0.js"></script>
</head>


<body>
    <div id="terminal-container">
        <p id="text"></p>
        <a onclick="talk('msg1')" id="link1"></a>
        <a onclick="talk('msg2')" id="link2"></a>
        <a onclick="talk('msg3')" id="link3"></a>
        <script>
            // link html refs
            var textref = document.getElementById('text');
            linkRefs = [
                document.getElementById('link1'),
                document.getElementById('link2'),
                document.getElementById('link3'),
            ];

            // creating the typewriters
            var typewriter = new Typewriter(textref, {
                loop: false,
                deleteSpeed: 1,
                delay: 25,
            });
            var linkWriter = [];
            for (var i = 0; i < 3; i++) {
                linkWriter[i] = new Typewriter(linkRefs[i], {
                    loop: false,
                    deleteSpeed: 1,
                    delay: 25,
                    cursor: ''
                });
            }

            var talk = function (msg, callback) {
                if (msg) {
                    // Send POST request
                    fetch('/talk/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ msg: msg })
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.answer) {
                                typewriter
                                    .deleteAll()
                                    .pauseFor(1000)
                                    .typeString(data.answer)
                                    .start();
                            }
                            var duration = 1500 + (data.answer.length + 1) * 35 || 0;
                            if (data.links) {
                                for (var i = 0; i < data.links.length - 1; i++) {
                                    linkWriter[i]
                                        .deleteAll()
                                        .pauseFor(duration)
                                        .typeString(data.links[i])
                                        .start();
                                    duration += (data.links[i].length + 1) * 35;
                                    linkRefs[i].href = data.links[i];
                                }
                            }
                        })
                        .catch(error => {
                            // Handle error
                            console.error(error);
                        });
                }
            }

            talk('/start', function (data) {
                typewriter
                    .deleteAll()
                    .pauseFor(1000)
                    .typeString(data.answer)
                    .start();
            });
        </script>
    </div>
</body>

</html>