<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    </title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="icon" href="/img/favicon.png" type="image/png">
</head>

<body>
    <div class="flex row w-100" style="justify-content: space-evenly;">
        <div>
            <h2>zweckzeit</h2>
            <iframe width="300" height="300" src="https://www.youtube.com/embed/pU5kzsrU8nk?si=s5e6QhRw0vhPWlPK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div>
            <h2>der atem der anderen</h2>
            <iframe width="300" height="300" src="https://www.youtube.com/embed/kQhTZR-deAU?si=hWSWnPt2EfzZcHPl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div>
            <h2>der fisch</h2>
            <iframe width="300" height="305" src="https://www.youtube.com/embed/BHS5M4VBRMc?si=ncvy6wBBkf_UrEiI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

    </div>
</body>

</html>