<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="icon" href="/img/favicon.png" type="image/png">
    <script src="/js/p5.min.js"></script>
</head>

<body style="display: flex; flex-direction: column;">
    <div id="p5js">
        <script src="/js/manfred_mohr.js"></script>
    </div>
    <h1>printing with the cartesian drawing machine</h1>
    <video width="800px" controls>
        <source src="/video/drawing_manfred_mohr.mp4" type="video/mp4">
    </video>
    <h1>the original »P021-G« by manfred mohr</h1>
    <img src="/img/Manfred_Mohr_P021G.jpg" width="800px" alt="Manfred_Mohr_P021G.jpg">
</body>

</html>