<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    </title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="icon" href="/img/favicon.png" type="image/png">
</head>
<body>
    <div class="flex row align-center">
        <img src="/img/forschungsdaten_sfb1232.jpg" width="500px" alt="forschungsdaten_sfb1232.jpg">
        <video width="800px" height="auto" controls>
            <source src="/video/metalle_daten_klaenge.mp4" type="video/mp4">
        </video>
    </div>
</body>
</html>