<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    </title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="icon" href="/img/favicon.png" type="image/png">
</head>

<style>
    body > * {
        margin-bottom: 20px
    }
</style>

<body style="display: flex; flex-direction: column;">
    <video width="800px" controls poster="/img/thumbnail_midi_drums.jpg">
        <source src="https://wolke.niezuhaus.de/s/qG8rbyzFKid9H8K/download" type="video/mp4">
    </video>
    <img src="/img/midi_drums1.jpg" alt="midi_drums1" class="standart-width">
    <img src="/img/midi_drums2.jpg" alt="midi_drums2" class="standart-width">
    <img src="/img/midi_drums3.jpg" alt="midi_drums3" class="standart-width">
</body>

</html>