<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    </title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="icon" href="/img/favicon.png" type="image/png">
</head>

<body style="display: flex; flex-direction: column;">
    <style>
        body > * {
            margin-bottom: 20px
        }
    </style>
    <video width="800px" controls poster="/img/thumbnail_midi_drums.jpg">
        <source src="https://wolke.niezuhaus.de/s/iZ3C5FdymqgJiMN/download" type="video/mp4">
    </video>
    <img src="/img/midi_drums1.jpg" width="800px" alt="midi_drums1">
    <img src="/img/midi_drums2.jpg" width="800px" alt="midi_drums2">
    <img src="/img/midi_drums3.jpg" width="800px" alt="midi_drums3">
</body>

</html>