<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="icon" href="/img/favicon.png" type="image/png">
</head>

<body style="display: flex; flex-direction: column;">
    <div>
        <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=3285293663/size=large/bgcol=333333/linkcol=9a64ff/tracklist=false/transparent=true/" seamless><a href="https://lilianateastone.bandcamp.com/album/der-atem-der-anderen-ep">Der Atem der Anderen EP by Lilian Ate A Stone</a></iframe>
    </div>
</body>

</html>