<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    </title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="icon" href="/img/favicon.png" type="image/png">
</head>

<body style="height: 100%;">
    <div style="display: flex; align-items: center; margin-bottom: 100px;">
        <img src="/img/digitale_infrastrukturen_der_freiheit.jpg" style="max-width: 80%; margin: auto;" alt="science poster: free software">
    </div>
</body>

</html>