body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    color: #00ff00;
}

#terminal-container {
    width: 80%;
    height: 80%;
    border: 1px solid #00ff00;
}
