body {
  margin: 0;
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  background-color: #000 !important;
}

p, h1, h2, h3, h4, h5, h6, a{
  color: #1de89c;
  font-family: monospace;
  margin: 5px;
  text-shadow: 0px 0px 8px;
}

a {
  color: #d3840f !important;
  cursor: pointer;
}

a:hover {
  color: #b5710d !important;
}

#term-user {
  color: #d3840f;
}

#terminal-container {
  position: absolute;
  top: 50px;
  left: 50px;
  right: 50px;
  min-height: 100px;
  border: 1px solid #1de89c;
  padding: 15px;
}

#userinput {
margin: 20px 0;
background: black;
color: #1de89c;
border: none;
border-bottom: 2px dashed;
outline: none;
font-size: inherit;
font-family: inherit;
}

#frame {
  position: absolute;
  top: 200px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
}

#iframe-container {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  position: relative;
}